div>#mapa {
    width: 100%;
    left: 0;
    bottom: 0;
}
div>#footer {
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
}

div>#nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
}