* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html,body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, Sans-serif;
}

body>#header_Default{
  background: black;
}
body>#header_Default>a {
  text-align: center;
  color: white;
  font-size: 20px;
}

body>#header_Default>a>img{
  height: 60px;
  width: 60px;
}

div>#footer {
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
}
a:visited {
  color: white;
}
img {
  width: 200px;
  height: 200px;
}

#description_Card {
  background-color: skyblue;
}

#description_Card>p {
  font-weight: bold;
  font: 20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.efect_card:hover
{
  box-shadow:
                1px 1px lightslategray,
                2px 2px lightslategray,
                3px 3px lightslategray;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}